:root {
  --primary-color: #20243a;
  --secondary-color: black;
  --white-color: rgb(255, 255, 255);
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  background-color: var(--primary-color);
  color: #ecf0f1;
  text-align: center;
}

.GMV, .GMVw {
  height: 10px;
  width: 10px;
  background-color: var(--primary-color);
  position: relative;
}

.GMV {
  animation: GMV 5s linear 0s 1 forwards normal;
}

.GMVw {
  animation: GMVw 5s linear 0s 1 forwards normal;
}

@keyframes GMV {
  0% { top: 0px; left: 0px; background-color: var(--primary-color); }
  100% { top: var(--top); left: var(--left); background-color: var(--secondary-color); }
}

@keyframes GMVw {
  0% { top: 0px; left: 0px; background-color: var(--primary-color); }
  100% { top: var(--top); left: var(--left); background-color: var(--white-color); }
}