body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Arial", sans-serif;
    background-color: #20243a;
    color: #ecf0f1;
    text-align: center;
  }
  .GMV{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{ top: 180px; left: 90px ;background-color:black}
  }
  .GMV1{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV1 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV1{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: 110px; left: 100px;background-color:black}
  }
  .GMV1w{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV1w 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV1w{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: 110px; left: 100px;background-color:rgb(255, 255, 255)}
  }
 
  .GMV2{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV2 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV2{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: 30px; left: 110px;background-color:black}
  }
  .GMV2w{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV2w 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV2w{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: 30px; left: 110px;background-color:rgb(255, 255, 255)}
  }
  .GMV3{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV3 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV3{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -60px; left: 120px;background-color:black}
  }
  .GMV3w{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV3w 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV3w{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -60px; left: 120px;background-color:rgb(255, 255, 255)}
  }
  .GMV4{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV4 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV4{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -150px; left: 130px;background-color:black}
  }
  .GMV4w{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV4w 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV4w{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -150px; left: 130px;background-color:rgb(255, 255, 255)}
  }
  .GMV5{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV5 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV5{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -240px; left: 140px;background-color:black}
  }
  .GMV5w{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV5w 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV5w{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -240px; left: 140px;background-color:rgb(255, 255, 255)}
  }
  .GMV6{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV6 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV6{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -330px; left: 150px;background-color:black}
  }
  .GMV6w{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV6w 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV6w{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -330px; left: 150px;background-color:rgb(255, 255, 255)}
  }
  .GMV7{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV7 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV7{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -410px; left: 160px;background-color:black}
  }
  .GMV7w{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV7w 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV7w{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -4100px; left: 160px;background-color:rgb(255, 255, 255)}
  }
  .GMV8{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV8 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV8{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -480px; left: 170px;background-color:black}
  }
  .GMV8w{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV8w 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV8w{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -480px; left: 170px;background-color:rgb(255, 255, 255)}
  }
  .GMV9M{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV9M 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV9M{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -570px; left: 200px;background-color:black}
  }
  .GMV9wM{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV9wM 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV9wM{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -570px; left: 200px;background-color:rgb(255, 255, 255)}
  }
  .GMV10M{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV10M 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV10M{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -650px; left: 210px;background-color:black}
  }
  .GMV10wM{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV10wM 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV10wM{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -650px; left: 210px;background-color:rgb(255, 255, 255)}
  }
  .GMV11M{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV11M 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV11M{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -740px; left: 220px;background-color:black}
  }
  .GMV11wM{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV11wM 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV11wM{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -740px; left: 220px;background-color:rgb(255, 255, 255)}
  }
  .GMV12M{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV12M 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV12M{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -830px; left: 230px;background-color:black}
  }
  .GMV12wM{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV12wM 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV12wM{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -830px; left: 230px;background-color:rgb(255, 255, 255)}
  }
  .GMV13M{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV13M 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV13M{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -920px; left: 240px;background-color:black}
  }
  .GMV13wM{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV13wM 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV13wM{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -920px; left: 240px;background-color:rgb(255, 255, 255)}
  }
  .GMV14M{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV14M 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV14M{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -990px; left: 250px;background-color:black}
  }
  .GMV14wM{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV14wM 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV14wM{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -990px; left: 250px;background-color:rgb(255, 255, 255)}
  }
  .GMV15M{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV15M 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV15M{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1070px; left: 260px;background-color:black}
  }
  .GMV15wM{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV15wM 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV15wM{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1070px; left: 260px;background-color:rgb(255, 255, 255)}
  }
  .GMV16M{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV16M 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV16M{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1160px; left: 270px;background-color:black}
  }
  .GMV16wM{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV16wM 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV16wM{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1160px; left: 270px;background-color:rgb(255, 255, 255)}
  }
  .GMV17M{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV17M 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV17M{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1240px; left: 280px;background-color:black}
  }
  .GMV17wM{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV17wM 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV17wM{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1240px; left: 280px;background-color:rgb(255, 255, 255)}
  }
  .GMV18V{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV18V 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV18V{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1330px; left: 310px;background-color:black}
  }
  .GMV18wV{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV18wV 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV18wV{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1330px; left: 310px;background-color:rgb(255, 255, 255)}
  }
  .GMV19V{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV19V 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV19V{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1390px; left: 320px;background-color:black}
  }
  .GMV19wV{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV19wV 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV19wV{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1390px; left: 320px;background-color:rgb(255, 255, 255)}
  }
  .GMV20V{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV20V 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV20V{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1460px; left: 330px;background-color:black}
  }
  .GMV20wV{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV20wV 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV20wV{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1460px; left: 330px;background-color:rgb(255, 255, 255)}
  }
  .GMV21V{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV21V 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV21V{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1540px; left: 340px;background-color:black}
  }
  .GMV21wV{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV21wV 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV21wV{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1540px; left: 340px;background-color:rgb(255, 255, 255)}
  }
  .GMV22V{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV22V 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV22V{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1630px; left: 350px;background-color:black}
  }
  .GMV22wV{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV22wV 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV22wV{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1630px; left: 350px;background-color:rgb(255, 255, 255)}
  }
  .GMV23V{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV23V 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV23V{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1720px; left: 360px;background-color:black}
  }
  .GMV23wV{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV23wV 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV23wV{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1720px; left: 360px;background-color:rgb(255, 255, 255)}
  }
  .GMV24V{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV24V 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV24V{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1810px; left: 370px;background-color:black}
  }
  .GMV24wV{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV24wV 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV24wV{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1810px; left: 370px;background-color:rgb(255, 255, 255)}
  }
  .GMV25V{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV25V 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV25V{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1900px; left: 380px;background-color:black}
  }
  .GMV25wV{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV25wV 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV25wV{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1900px; left: 380px;background-color:rgb(255, 255, 255)}
  }
  .GMV26V{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV26V 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV26V{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -1970px; left: 390px; background-color:black}
  }
  .GMV26wV{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: GMV26wV 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes GMV26wV{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{ top:   -1970px; left: 390px;background-color:rgb(255, 255, 255)}
  }
  .BiSt{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiSt 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes BiSt{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -2010px; left: 420px; background-color:black}
  }
  .BiStw{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiStw 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  /*bindestrich*/
  @keyframes BiStw{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{ top:   -2010px; left: 420px;background-color:rgb(255, 255, 255)}
  }
  .BiSt1{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiSt1 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes BiSt1{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -2040px; left: 430px; background-color:black}
  }
  .BiStw1{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiStw1 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  /*bindestrich*/
  @keyframes BiStw1{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{ top:   -2040px; left: 430px;background-color:rgb(255, 255, 255)}
  }
  .BiSt2{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiSt2 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes BiSt2{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -2080px; left: 440px; background-color:black}
  }
  .BiStw2{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiStw2 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  /*bindestrich*/
  @keyframes BiStw2{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{ top:   -2080px; left: 440px;background-color:rgb(255, 255, 255)}
  }
 
  .BiSt3{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiSt3 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes BiSt3{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -2120px; left: 450px; background-color:black}
  }
  .BiStw3{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiStw3 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  /*bindestrich*/
  @keyframes BiStw3{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{ top:   -2120px; left: 450px;background-color:rgb(255, 255, 255)}
  }
 
  .BiSt4{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiSt4 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes BiSt4{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -2160px; left: 460px; background-color:black}
  }
  .BiStw4{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiStw4 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  /*bindestrich*/
  @keyframes BiStw4{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{ top:   -2160px; left: 460px;background-color:rgb(255, 255, 255)}
  }
  .BiSt5{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiSt5 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes BiSt5{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -2200px; left: 470px; background-color:black}
  }
  .BiStw5{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiStw5 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  /*bindestrich*/
  @keyframes BiStw5{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{ top:   -2200px; left: 470px;background-color:rgb(255, 255, 255)}
  }
  .BiSt6{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiSt6 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  @keyframes BiSt6{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{top: -2230px; left: 480px; background-color:black}
  }
  .BiStw6{
    height: 10px;
    width: 10px;
    background-color: #20243a ;
    animation: BiStw6 5s linear 0s   1 forwards  normal ;
    position: relative;
  }
  /*bindestrich*/
  @keyframes BiStw6{
    0% {top: 0px; left: 0px; background-color:  #20243a }
    100%{ top:   -2230px; left: 480px;background-color:rgb(255, 255, 255)}
  }
 
 
 