/* ja halt die animation wie bei legit allem */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Animation von unten ganz gewagt*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #20243a;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    animation: fadeIn 1s ease-out;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #34495ee6;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
}

h1 {
    text-align: center;
    color: #8ACE00;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #34495ee6;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
}

h1 {
    text-align: center;
    color: #65c427;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.nährwerte {
    background-color: #2f3450;
    color: #ffffff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
}


/* ul = Listen die 1. 2. usw sind*/
ul {
    padding-left: 20px;
    list-style-type: disc;
}

ul li {
    margin-bottom: 8px;
}

ol {
    line-height: 1.6;
    padding-left: 20px;
    list-style-type: decimal;
}

h2 {
    color: #ffffff;
    margin-top: 20px;
}
