html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Arial", sans-serif;
    background-color: #20243a;
    color: #ecf0f1;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 1.2rem;
    color: #bdc3c7;
}

.frage,
.falsch,
.comments-forum {
    background: #34495ee6;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.frage {
    animation: einblenden 1s ease-out;
}

@keyframes einblenden {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.antworten {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.antwort-knopf,
.post-button {
    background-color: #ff0000;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s, background-color 0.3s;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 500px;
}

.antwort-knopf:hover,
.post-button:hover {
    background-color: #00d312;
    transform: scale(1.05);
}

.frage-bild,
.falsch-bild {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

footer {
    background: #19242e;
    color: #95a5a6;
    padding: 5px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
}

@media (max-width: 600px) {
    .frage,
    .comments-forum {
        width: 95%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .post-button {
        font-size: 0.9rem;
    }
}

.comments-thread {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post {
    background: #2c3e50;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.post h3 {
    margin: 10px;
    color: #ecf0f1;
}

.post p {
    margin: 0;
    color: #ecf0f1;
}

.username-input,
.comments-input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-size: 1rem;
    background: #34495ee6;
    color: #ecf0f1;
}

.Leon {
    font-size: 1.2rem;
    background: none;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;

    color: #bdc3c7;
}
